* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 10vh; */
    /* background-color: black; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* box-shadow: 0px 10px 20px  */
}

h1 {
    color: white;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

header>img{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 100px;
    padding: 10px;
    filter: invert();

}
.pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 100vw;
    height: 40vh;
}
.pic>img{
    object-fit: cover;
    position: absolute;
    left: 0;
}
    

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    margin-top: 100px;
    position: relative;
}

.back-img {
    background-color: pink;
    width: 80vw;
    height: 400px;
    border-radius: 10px;
}

.back-img>img{
    border-radius:10px ;
}
.main:nth-of-type(2){
    margin-top: 0;
    margin-bottom: 100px;
}
.card {
    position: absolute;
    top: 10;
    background-color: rgba(255, 255, 255,0.05);
    backdrop-filter:blur(10px);
    border-radius: 10px;
    max-width: 700px;
    height: 400px;
    padding: 0px 20px;
    transition: all 0.4s;
  
}
.card>p{
    margin-top: 40px;
    padding: 0px 10px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgb(58, 58, 58);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
}

#open{
    position: absolute;
    width:30px;
    height: 30px;
    background:rgba(0, 0, 0,0.5);
    border: 2px solid black;
    /* border-style:none; */
    border-radius: 200px;
    top:79%;
    right:10%;
    cursor: pointer;

}
#open2{
    position: absolute;
    width:30px;
    height: 30px;
    background:rgba(0, 0, 0,0.5);
    border: 2px solid black;
    /* border-style:none; */
    border-radius: 200px;
    top:79%;
    right:10%;
    cursor: pointer;

}

.main>h2{
    color:white ;
    position: absolute;
    top:-50px;
    font-size: 3rem;
}